
<h1 class="ycotitle m-4">cofybcf</h1>

<p class="ycotitle lead title">Mis credenciales</p>

<div class="container border">
<img src="img/generic_user.png" class="mx-auto d-block m-3" alt="foto de perfil">
<hr color="white">
<p class="ycotitle lead mt-3">Nombre de usuario: <%= user.name %></p>
<hr color="white">
<p class="ycotitle lead mt-3">Tipo: <%= user.rol %></p>
<hr color="white">
<p class="ycotitle lead mt-3">Número: <%= user.number %></p>
<hr color="white">
<p class="ycotitle lead mt-3">Email de usuario: <%= user.email %></p>
<hr color="white">
<p class="ycotitle lead mt-3">Creación de usuario: <%= user.date %></p>
</div>

<a href="/" class="mt-5 btn btn-secondary">Volver</a>